<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>H</title>
</head>
<body>

<!-- Words main -->
<h3 th:fragment="words_main">Словарь</h3>
<!-- Words lvls -->
<h3 th:fragment="words_lvl_1">Простой уровень</h3>
<h3 th:fragment="words_lvl_2">Средний уровень</h3>
<h3 th:fragment="words_lvl_3">Сложный уровень</h3>

<!-- Grammar main -->
<h3 th:fragment="grammar_main">Грамматика</h3>
<!-- Grammar lvls -->
<h3 th:fragment="grammar_lvl_1">Уровень N1</h3>
<h3 th:fragment="grammar_lvl_2">Уровень N2</h3>
<h3 th:fragment="grammar_lvl_3">Уровень N3</h3>
<h3 th:fragment="grammar_lvl_4">Уровень N4</h3>
<h3 th:fragment="grammar_lvl_5">Уровень N5</h3>


</body>
</html>