<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/jrCourse}">JR Course</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/words/')} ? 'active' : ''">
                        <a class="nav-link dropdown-toggle" th:href="@{/words/}">Словарь</a>
                        <div class="dropdown-child" style="overflow: hidden">
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/easy')} ? 'active' : ''"
                               th:href="@{/words/lvl/easy}">Простой</a>

                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/normal')} ? 'active' : ''"
                               th:href="@{/words/lvl/normal}">Средний</a>

                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/hard')} ? 'active' : ''"
                               th:href="@{/words/lvl/hard}">Сложный</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/grammar/')} ? 'active' : ''">
                        <a class="nav-link dropdown-toggle" th:href="@{/grammar/}">Грамматика</a>
                        <div class="dropdown-child" style="overflow: hidden">
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/1')} ? 'active' : ''"
                               th:href="@{/grammar/n1}">N1</a>
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/2')} ? 'active' : ''"
                               th:href="@{/grammar/n2}">N2</a>
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/3')} ? 'active' : ''"
                               th:href="@{/grammar/n3}">N3</a>
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/4')} ? 'active' : ''"
                               th:href="@{/grammar/n4}">N4</a>
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/5')} ? 'active' : ''"
                               th:href="@{/grammar/n5}">N5</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().equals('/jlpt')} ? 'active' : ''"
                           th:href="@{/jlpt}">JLPT</a>
                    </li>
                    <li sec:authorize="hasRole('USER')" class="nav-item dropdown"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/personal/')} ? 'active' : ''">
                        <a class="nav-link dropdown-toggle" th:href="@{/personal/}">Мои материалы</a>
                        <div class="dropdown-child" style="overflow: hidden">
                            <a class="nav-link bg-dark" th:classappend="${#httpServletRequest.getRequestURI().endsWith('/words')} ? 'active' : ''"
                               th:href="@{/personal/words}">Мой словарь</a>
                            <a class="nav-link bg-dark"  th:classappend="${#httpServletRequest.getRequestURI().endsWith('/grammar')} ? 'active' : ''"
                               th:href="@{/personal/grammar}">Моя грамматика</a>
                        </div>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users')} ? 'active' : ''">
                        <a class="nav-link" th:href="@{/users/showUsers}">Пользователи</a>
                    </li>

                </ul>
            </div>
            <div class="collapse navbar-collapse flex-row-reverse">
                <ul class="navbar-nav">
                    <li sec:authorize="hasAnyRole('USER', 'ADMIN')" class="nav-item">
                        <form th:action="@{/logout}" method="POST" class="form-horizontal">
                            <button type="submit" class="btn btn-dark nav-link">Выйти</button>
                        </form>
                    </li>
                    <li sec:authorize="hasAnyRole('ANONYMOUS')" class="nav-item">
                        <form th:action="@{/showLoginPage}" method="GET" class="form-horizontal">
                            <button type="submit" class="btn btn-dark nav-link">Войти</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
</div>
</body>
</html>