<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- Individual CSS -->
    <link rel="stylesheet" th:href="@{/css/projectStyles.css}">

    <title>JR Course</title>
</head>
<body>
<div class="wrapper">
    <!-- Add a navbar -->
    <div th:insert="fragments/header"></div>

    <div class="container">

        <!-- Add a title -->
        <div>
            <h3>JR Course</h3>
        </div>
        <hr>

        <!-- Add a description -->
        <div>
            <h4>Добро пожаловать на курс русско-японского языка!</h4>
            <p>Этот сайт создан для обучения японскому языку.</p>
            <p>Здесь вы сможете найти все необходимые слова и грамматику для сдачи экзамена JLPT (日本語能力試験).</p>
            <p>Экзамен Нихонго Норёку Сикэн проводится два раза в год — в первое воскресенье декабря
                и первое воскресенье июля.</p>
            <p>Вы сможете добавлять все слова и грамматику в свои учебные метериалы для дальнейшего изучения.</p>
        </div>
        <div>
            <h4>Материалы</h4>
            <p>В секции <b>словарь</b> вы найдете все необходимые слова, разбитые по уровням для изучения - от простого
                к сложному. В секции <b>грамматика</b> вы можете найти грамматические конструкции в зависимости от уровня
                экзамена JLPT.</p>
            <p>В дальнейшем секции и возможности сайта будут расширены.</p>
        </div>
    </div>
    <div class="push"></div>
</div>
<footer th:insert="fragments/footer"></footer>

</body>
</html>