<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TableWords</title>
</head>
<body>
<div th:fragment="tablePersonal" th:remove="tag">

    <!-- Add a table -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr th:if="${#httpServletRequest.getRequestURI().contains('words')}">
            <th>Кандзи</th>
            <th>Кана</th>
            <th>Значение</th>
            <th>Описание</th>
            <th class="last_th">Действие</th>
        </tr>
        <tr th:if="${#httpServletRequest.getRequestURI().contains('grammar')}">
            <th>Уровень</th>
            <th>Формула</th>
            <th>Примеры</th>
            <th>Описание</th>
            <th class="last_th">Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${#httpServletRequest.getRequestURI().contains('words')}"
            th:each="word : ${wordList}">
            <td th:text="${word.jpKanji}"/>
            <td th:text="${word.jpKana}"/>
            <td th:text="${word.ruWord}"/>
            <td th:utext="${#strings.replace(#strings.escapeXml(word.description),
                '&#10','&lt;br&gt;')}"/>

            <td>
                <a th:href="@{/personal/deleteWordFromPersonal(wordId=${word.id})}"
                   class="btn btn-danger btn-sm btn_block">
                    Удалить
                </a>
            </td>
        </tr>
        <tr th:if="${#httpServletRequest.getRequestURI().contains('grammar')}"
            th:each="gr : ${grammarList}">
            <td th:text="${gr.jlptLvl}"/>
            <td th:text="${gr.formula}"/>
            <td th:utext="${#strings.replace(#strings.escapeXml(gr.example),
                '&#10','&lt;br&gt;')}"/>
            <td th:utext="${#strings.replace(#strings.escapeXml(gr.description),
                '&#10','&lt;br&gt;')}"/>

            <td>
                <a th:href="@{/personal/deleteGrammarFromPersonal(grammarId=${gr.id})}"
                   class="btn btn-danger btn-sm btn_block">
                    Удалить
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>