<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TableWords</title>
</head>
<body>
<div th:fragment="tableWords" th:remove="tag">

    <!-- Add a table -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Кандзи</th>
            <th>Кана</th>
            <th>Значение</th>
            <th>Описание</th>
            <th sec:authorize="hasRole('ADMIN')" class="last_th">Действие</th>
            <th sec:authorize="hasRole('USER')" class="last_th">Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="word : ${words}">
            <td th:text="${word.jpKanji}"/>
            <td th:text="${word.jpKana}"/>
            <td th:text="${word.ruWord}"/>
            <td th:utext="${#strings.replace(#strings.escapeXml(word.description),
                '&#10','&lt;br&gt;')}"/>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/words/showFormForUpdateWord(wordId=${word.id},lvl=${word.level})}"
                   class="btn btn-info btn-sm btn_block a_update_btn">
                    Изменить
                </a>
                <a th:href="@{/words/deleteWord(wordId=${word.id},lvl=${word.level})}"
                   class="btn btn-danger btn-sm btn_block"
                   onclick="if (!(confirm('Вы действительно хотите удалить слово?'))) return false">
                    Удалить
                </a>
            </td>

            <td sec:authorize="hasRole('USER')">
                <a th:if="${word.usersDataCollection.contains(ud)}"
                   th:href="@{/words/deleteWordFromPersonal(wordId=${word.id},lvl=${word.level},hasLvl=${hasLvl})}"
                   class="btn btn-danger btn-sm btn_block">
                    Удалить
                </a>
                <a th:unless="${word.usersDataCollection.contains(ud)}"
                   th:href="@{/words/addWordInPersonal(wordId=${word.id},lvl=${word.level},hasLvl=${hasLvl})}"
                   class="btn btn-info btn-sm btn_block a_update_btn">
                    Добавить
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>