html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -9rem;
}

nav {
    margin-bottom: 15px;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-align: center;
}

.dropdown-child {
    display: none;
    min-width: 100px;
}

.dropdown-child a {
    padding: 10px 20px;
    display: block;
}

.dropdown:hover .dropdown-child {
    border-width: 0px 1px 1px;
    border-radius: 0 0 8px 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: block;
}

table {
    text-align: center;
}

.last_th {
    width: 100px;
}

.a_update_btn {
    margin-bottom: 10px;
}

.btn_block {
    display: block;
}

footer, .push {
    height: 9rem;
}

footer a {
    text-decoration: none;
    color: ghostwhite;
}

footer a:hover {
    color: white;
}

footer p, ul {
    margin: 0;
}