<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- Individual CSS -->
    <link rel="stylesheet" th:href="@{/css/projectStyles.css}">

    <title>Словарь</title>
</head>
<body>
<div class="wrapper">
    <!-- Add a navbar -->
    <div th:insert="fragments/header"></div>

    <div class="container">
        <h3 th:if="${#httpServletRequest.getParameter('wordId')}">Измените выбранное слово</h3>
        <h3 th:unless="${#httpServletRequest.getParameter('wordId')}">Добавьте новое слово</h3>
        <hr>
        <p class="h4 mb-4">Заполните форму для сохранения</p>

        <form action="#" th:action="@{/words/saveWord}"
              th:object="${word}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <p>Выберите уровень сложности:</p>
            <div class="form-check form-check-inline mb-4">
                <input type="radio" class="form-check-input" th:field="*{level}" th:value="easy">
                <label class="form-check-label" th:for="${#ids.prev('level')}">Простой</label>
            </div>

            <div class="form-check form-check-inline mb-4">
                <input type="radio" class="form-check-input" th:field="*{level}" th:value="normal">
                <label class="form-check-label" th:for="${#ids.prev('level')}">Средний</label>
            </div>

            <div class="form-check form-check-inline mb-4">
                <input type="radio" class="form-check-input" th:field="*{level}" th:value="hard">
                <label class="form-check-label" th:for="${#ids.prev('level')}">Сложный</label>
            </div>

            <input type="text" th:field="*{jpKanji}"
                   class="form-control mb-4 col-4" placeholder="Kanji">

            <input type="text" th:field="*{jpKana}"
                   class="form-control mb-4 col-4" placeholder="Kana">

            <input type="text" th:field="*{ruWord}"
                   class="form-control mb-4 col-4" placeholder="Перевод">

            <label>Описание</label>
            <br>
            <textarea class="form-control mb-4 col-4" rows="3" th:field="*{description}"></textarea>

            <button type="submit" class="btn btn-info col-2">Добавить</button>

        </form>
        <hr>
        <div class="row">
            <a class="btn btn-sm btn-light col-sm-1" th:href="@{'/words/lvl/' + ${word.level}}">Вернуться</a>
        </div>
        <div class="push"></div>
    </div>
</div>
<footer th:insert="fragments/footer"></footer>

</body>
</html>